<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Schon</display-name>
  <welcome-file-list>
    <welcome-file>HomePageServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>Controller.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductPageServlet</display-name>
    <servlet-name>ProductPageServlet</servlet-name>
    <servlet-class>Controller.ProductPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPageServlet</servlet-name>
    <url-pattern>/ProductPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotFoundPageServlet</display-name>
    <servlet-name>NotFoundPageServlet</servlet-name>
    <servlet-class>Controller.NotFoundPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotFoundPageServlet</servlet-name>
    <url-pattern>/NotFoundPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>Controller.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToWishListServlet</display-name>
    <servlet-name>AddToWishListServlet</servlet-name>
    <servlet-class>Controller.AddToWishListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToWishListServlet</servlet-name>
    <url-pattern>/AddToWishListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailPageServlet</display-name>
    <servlet-name>ProductDetailPageServlet</servlet-name>
    <servlet-class>Controller.ProductDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailPageServlet</servlet-name>
    <url-pattern>/ProductDetailPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateReviewServlet</display-name>
    <servlet-name>CreateReviewServlet</servlet-name>
    <servlet-class>Controller.CreateReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReviewServlet</servlet-name>
    <url-pattern>/CreateReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WishListPageServlet</display-name>
    <servlet-name>WishListPageServlet</servlet-name>
    <servlet-class>Controller.WishListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishListPageServlet</servlet-name>
    <url-pattern>/WishListPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyWishListServlet</display-name>
    <servlet-name>ApplyWishListServlet</servlet-name>
    <servlet-class>Controller.ApplyWishListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyWishListServlet</servlet-name>
    <url-pattern>/ApplyWishListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWishListServlet</display-name>
    <servlet-name>DeleteWishListServlet</servlet-name>
    <servlet-class>Controller.DeleteWishListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWishListServlet</servlet-name>
    <url-pattern>/DeleteWishListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartPageServlet</display-name>
    <servlet-name>CartPageServlet</servlet-name>
    <servlet-class>Controller.CartPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartPageServlet</servlet-name>
    <url-pattern>/CartPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>Controller.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>Controller.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTotalServlet</display-name>
    <servlet-name>UpdateTotalServlet</servlet-name>
    <servlet-class>Controller.UpdateTotalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTotalServlet</servlet-name>
    <url-pattern>/UpdateTotalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutPageServlet</display-name>
    <servlet-name>CheckOutPageServlet</servlet-name>
    <servlet-class>Controller.CheckOutPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutPageServlet</servlet-name>
    <url-pattern>/CheckOutPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>Controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogPageServlet</display-name>
    <servlet-name>BlogPageServlet</servlet-name>
    <servlet-class>Controller.BlogPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogPageServlet</servlet-name>
    <url-pattern>/BlogPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogPageDAO</display-name>
    <servlet-name>BlogPageDAO</servlet-name>
    <servlet-class>DAO.BlogPageDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogPageDAO</servlet-name>
    <url-pattern>/BlogPageDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogDetailPageServlet</display-name>
    <servlet-name>BlogDetailPageServlet</servlet-name>
    <servlet-class>Controller.BlogDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogDetailPageServlet</servlet-name>
    <url-pattern>/BlogDetailPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCommentServlet</display-name>
    <servlet-name>CreateCommentServlet</servlet-name>
    <servlet-class>Controller.CreateCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCommentServlet</servlet-name>
    <url-pattern>/CreateCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactPageServlet</display-name>
    <servlet-name>ContactPageServlet</servlet-name>
    <servlet-class>Controller.ContactPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactPageServlet</servlet-name>
    <url-pattern>/ContactPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactPageDAO</display-name>
    <servlet-name>ContactPageDAO</servlet-name>
    <servlet-class>DAO.ContactPageDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactPageDAO</servlet-name>
    <url-pattern>/ContactPageDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateContactServlet</display-name>
    <servlet-name>CreateContactServlet</servlet-name>
    <servlet-class>Controller.CreateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContactServlet</servlet-name>
    <url-pattern>/CreateContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductServlet</display-name>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>Controller.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/SearchProductServlet</url-pattern>
  </servlet-mapping>
</web-app>